<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="es">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>FUNDEGIRC - convocatorias</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- fuentes personalizadas -->
        <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet"/>
        <link rel="stylesheet" href="fuentes/stylesheet.css" type="text/css" charset="utf-8" />

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto+Slab:400,700" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="favicon.ico"/>
        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>

        <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>

        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/xsIcon.css"/>
        <link rel="stylesheet" href="assets/css/isotope.css"/>
        <link rel="stylesheet" href="assets/css/magnific-popup.css"/>
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="assets/css/animate.css"/>


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css"/>

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <!-- use only color version -->
        <!-- <link rel='stylesheet' type='text/css' href='assets/css/colors/color-1.css' > -->
    </h:head>
    <body>
        <!--[if lt IE 10]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div><!-- #preloader -->
        <!-- header section -->
        <div class="xs-top-bar top-bar-second">
            <div class="container clearfix">
                <ul class="xs-top-social">
                    <li><a href="https://www.facebook.com/Fundegirc/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/FUNDEGIRC1?s=17"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/fundegirc/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <a href="mailto:gerencia@fundegirc.org" class="xs-top-bar-mail"><i class="fa fa-envelope-o"></i>gerencia@fundegirc.org</a>
                <a class="xs-top-bar-mail" style="color: #079bbb">  --- </a>
                <a class="xs-top-bar-mail" style="color: #FFFFFF"><i class="fa fa-phone"></i>(+57) 300 4938984</a>
            </div>
        </div>
        <header class="xs-header xs-fullWidth">
            <div class="container">
                <nav class="xs-menus">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <a href="index.xhtml" class="xs-nav-logo">
                            <img src="imagenes/WEB_Logo_PáginaWeb.png" alt=""/>
                        </a>
                    </div><!-- .nav-header END -->
                    <div class="nav-menus-wrapper row">
                        <div class="xs-logo-wraper" >
                            <a class="nav-brand" href="index.xhtml" style="padding-top: 0px">
                                <img src="imagenes/WEB_Logo_PáginaWeb.png" alt="" style="width: 90px; height: 90px"/>
                            </a>
                        </div><!-- .xs-logo-wraper END -->
                        <div class="col-lg-10">
                            <ul class="nav-menu">
                                <li><a href="index.xhtml">Inicio</a></li>
                                <li><a href="about.xhtml">Nosotros</a></li>
                                <li><a href="empresas.xhtml">Empresas</a></li>
                                <li><a class="dropdown" href="#">Donaciones</a>
                                    <ul class="dropdown nav-dropdown">
                                        <li><a href="volunteer.xhtml">Donar Tiempo</a></li>
                                        <li><a href="donate-now.xhtml">Donar Dinero</a></li>
                                    </ul>
                                </li>
                                <li><a href="allestrategicas.xhtml">Estrategias</a></li>
                                <li><a href="convocatorias.xhtml">Convocatorias</a></li>
                                <li><a href="contact.xhtml">Contacto</a></li>
                            </ul><!-- .nav-menu END -->
                        </div>
                    </div><!-- .nav-menus-wrapper .row END -->
                </nav><!-- .xs-menus .fundpress-menu END -->
            </div><!-- .container end -->
        </header>
        <!-- End header section -->

        <!-- welcome section -->
        <!--breadcumb start here-->
        <!--<section class="xs-banner-inner-section parallax-window" style="background-image:url('imagenes/portadas/PortadaWEB_Convocatorias.png')">-->
        <section class="xs-banner-inner-section parallax-window" style="padding-top: 0px; padding-bottom: 0px">
            <img src="imagenes/portadas/PortadaWEB_Convocatorias.png"/>
            <!--<div class="xs-black-overlay"></div>
            <div class="container">
                <div class="color-white xs-inner-banner-content">
                    <h2 style="font-family: 'Marvel', sans-serif; font-weight: bold;">CONVOCATORIAS</h2>
                    <ul class="xs-breadcumb">
                        <li class="badge badge-pill badge-primary"><a href="index.xhtml" class="color-white"> Inicio /</a> Convocatorias</li>
                    </ul>
                </div>
            </div>-->
        </section>
        <!--breadcumb end here--><!-- End welcome section -->


        <main class="xs-main">
            <!-- video popup section section -->
            <section class="xs-content-section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11 content-center">
                            <div class="xs-heading xs-mb-100 text-center">
                                <h2 class="xs-mb-0 xs-title" style="font-family: 'Marvel', sans-serif; font-weight: bold; text-align: center">Informamos que en estos momentos no tenemos convocatorias abiertas.</h2>
                            </div>
                        </div>
                    </div><!-- .row end -->
                    <!-- .row end -->
                </div><!-- .container end -->
            </section>	<!-- End video popup section section -->
        </main>

        <!-- footer section start -->
        <footer class="xs-footer-section">
            <div class="container col-lg-11 col-md-11" style="">
                <div class="xs-footer-top-layer" style="padding-top: 40px;padding-bottom: 10px">
                    <div class="row" style="padding-left: 0px">
                        <div class="col-lg-auto col-md-6 footer-widget xs-pr-20">
                            <a href="index.xhtml" class="xs-footer-logo">
                                <img src="imagenes/WEB_Logo_PáginaWeb.png" alt=""/>
                            </a>
                            <p style="width: 194px;font-family:'mergelight';font-style: normal;font-weight: normal;text-align: justify"><b>FUNDEGIRC</b> recauda dinero para reducir la vulnerabilidad y fortalecer las capacidades comunitarias.</p>
                            <ul class="xs-social-list-v2">
                                <li><a href="https://www.facebook.com/Fundegirc/" class="color-facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/FUNDEGIRC1?s=17" class="color-twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/fundegirc/?hl=es-la" class="color-instagram"><i class="fa fa-instagram"></i></a></li>
                            </ul><!-- .xs-social-list END -->
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="">
                            <h3 class="widget-title">Mapa del sitio</h3>
                            <ul class="xs-footer-list">
                                <li><a href="index.xhtml">Inicio</a></li>
                                <li><a href="about.xhtml">Nosotros</a></li>
                                <li><a href="empresas.xhtml">Empresas</a></li>
                                <li><a class="dropdown" href="#">Donaciones</a></li>
                                <li><a href="volunteer.xhtml">Donar Tiempo</a></li>
                                <li><a href="donate-now.xhtml">Donar Dinero</a></li>
                                <li><a href="allestrategicas.xhtml">Estrategias</a></li>
                                <li><a href="convocatorias.xhtml">Convocatorias</a></li>
                                <li><a href="contact.xhtml">Contacto</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 280px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFundegirc%2F&amp;tabs=timeline&amp;width=250&amp;height=380&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="280" height="380" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 280px">
                            <!--<a class="twitter-timeline" data-width="359" data-theme="light" href="https://twitter.com/FUNDEGIRC1?ref_src=twsrc%5Etfw">Tweets by FUNDEGIRC1</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                            <a class="twitter-timeline" data-width="280" data-height="380" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/FUNDEGIRC1?ref_src=twsrc%5Etfw">Tweets by FUNDEGIRC</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 270px; padding-right: 0px">
                            <h3 class="widget-title">Contáctenos</h3>
                            <ul class="xs-info-list">
                                <li><i class="fa fa-home bg-red"></i>Por definir.</li><br/>
                                <li><i class="fa fa-phone bg-green"></i>(+57) 300 4938984</li>
                                <li><i class="fa fa-envelope-o bg-blue"></i><a href="mailto:gerencia@fundegirc.org">gerencia@fundegirc.org</a></li>
                            </ul><!-- .xs-list-with-icon END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="xs-back-to-top-wraper">
                <a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
            </div>
        </footer>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/jquery.countdown.min.js"></script>
        <script src="assets/js/spectragram.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>

        <script src="assets/js/main.js"></script>
    </body>
</html>
