<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="es">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>FUNDEGIRC - Donaciones</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- fuentes personalizadas -->
        <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet"/>
        <link rel="stylesheet" href="fuentes/stylesheet.css" type="text/css" charset="utf-8" />

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto+Slab:400,700" rel="stylesheet"/>

        <link rel="icon" type="image/png" href="favicon.ico"/>
        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>

        <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>

        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/xsIcon.css"/>
        <link rel="stylesheet" href="assets/css/isotope.css"/>
        <link rel="stylesheet" href="assets/css/magnific-popup.css"/>
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="assets/css/animate.css"/>


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css"/>

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <!-- use only color version -->
        <!-- <link rel='stylesheet' type='text/css' href='assets/css/colors/color-1.css' > -->
    </h:head>
    <body>
        <!--[if lt IE 10]>
                        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

        <div id="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div><!-- #preloader -->
        <!-- header section -->
        <div class="xs-top-bar top-bar-second">
            <div class="container clearfix">
                <ul class="xs-top-social">
                    <li><a href="https://www.facebook.com/Fundegirc/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/FUNDEGIRC1?s=17"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/fundegirc/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <a href="mailto:gerencia@fundegirc.org" class="xs-top-bar-mail"><i class="fa fa-envelope-o"></i>gerencia@fundegirc.org</a>
                <a class="xs-top-bar-mail" style="color: #079bbb">  --- </a>
                <a class="xs-top-bar-mail" style="color: #FFFFFF"><i class="fa fa-phone"></i>(+57) 300 4938984</a>
            </div>
        </div>
        <header class="xs-header xs-fullWidth">
            <div class="container">
                <nav class="xs-menus">
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                        <a href="index.xhtml" class="xs-nav-logo">
                            <img src="imagenes/WEB_Logo_PáginaWeb.png" alt=""/>
                        </a>
                    </div><!-- .nav-header END -->
                    <div class="nav-menus-wrapper row">
                        <div class="xs-logo-wraper" >
                            <a class="nav-brand" href="index.xhtml" style="padding-top: 0px">
                                <img src="imagenes/WEB_Logo_PáginaWeb.png" alt="" style="width: 90px; height: 90px"/>
                            </a>
                        </div><!-- .xs-logo-wraper END -->
                        <div class="col-lg-10">
                            <ul class="nav-menu">
                                <li><a href="index.xhtml">Inicio</a></li>
                                <li><a href="about.xhtml">Nosotros</a></li>
                                <li><a href="empresas.xhtml">Empresas</a></li>
                                <li><a class="dropdown" href="#">Donaciones</a>
                                    <ul class="dropdown nav-dropdown">
                                        <li><a href="volunteer.xhtml">Donar Tiempo</a></li>
                                        <li><a href="donate-now.xhtml">Donar Dinero</a></li>
                                    </ul>
                                </li>
                                <li><a href="allestrategicas.xhtml">Estrategias</a></li>
                                <li><a href="convocatorias.xhtml">Convocatorias</a></li>
                                <li><a href="contact.xhtml">Contacto</a></li>
                            </ul><!-- .nav-menu END -->
                        </div>
                    </div><!-- .nav-menus-wrapper .row END -->
                </nav><!-- .xs-menus .fundpress-menu END -->
            </div><!-- .container end -->
        </header>
        <!-- End header section -->

        <!-- welcome section -->
        <!--breadcumb start here-->
        <!--<section class="xs-banner-inner-section parallax-window" style="background-image:url('imagenes/portadas/PortadaWEB_Donaciones.png')">-->
        <section class="xs-banner-inner-section parallax-window" style="padding-top: 0px; padding-bottom: 0px">
            <img src="imagenes/portadas/PortadaWEB_Donaciones.png"/>
            <!--<div class="xs-black-overlay"></div>
            <div class="container">
                <div class="color-white xs-inner-banner-content">
                    <h2 style="font-family: 'Marvel', sans-serif; font-weight: bold;">DONACIONES</h2>
                    <p style="font-family: 'Marvel', sans-serif; font-weight: bold;">A través de tus aportes y donaciones contribuyes a reducir la vulnerabilidad y fortalecer las capacidades comunitarias.</p>
                    <ul class="xs-breadcumb">
                        <li class="badge badge-pill badge-primary"><a href="index.xhtml" class="color-white"> Inicio /</a> Donaciones</li>
                    </ul>
                </div>
            </div>-->
        </section>
        <!--breadcumb end here--><!-- End welcome section -->


        <main class="xs-main">
            <!-- donation form section -->
            <section style="padding-top: 30px">
                <div class="container">
                    <div class="xs-heading row xs-mb-60"  style="padding-bottom:  0px; margin-bottom: 0px">
                        <div class="col-md-12 col-xl-12">
                            <h2 class="xs-title" style="font-family: 'Marvel', sans-serif; font-weight: bold; text-align: center">Dona Dinero</h2>
                            <h4 style="color: #000; font-family:'mergelight';font-style: normal;font-weight: normal; text-align: justify">Tú aporte será vital para hacer realidad los sueños de muchas familias de Santa Marta – Magdalena y la Región Caribe.</h4>
                            <h4 style="color: #000; font-family:'mergelight';font-style: normal;font-weight: normal; text-align: justify">FUNDEGIRC genera un certificado de donación, para ello requerimos el nombre de la persona, dirección, teléfono y copia de la consignación.</h4>

                        </div><!-- .xs-heading-title END -->
                    </div><!-- .row end -->

                    <div class="container" style="padding-bottom: 0px; margin-bottom: 0px">
                        <div class="xs-heading row xs-mb-60" >
                            <div class="col-md-12 col-xl-12" >
                                <h2 class="xs-title" style="margin-bottom: 0px; padding-bottom: 0px; font-family: 'Marvel', sans-serif; font-weight: bold; text-align: center">-Donaciones Vía Online-</h2>
                            </div><!-- .xs-heading-title END -->
                        </div><!-- .row end -->
                    </div>
                    <div class="row" style="margin-top: 0px; padding-top: 0px">
                        <div class="col-lg-6" style="padding-top: 15px">
                            <div class="xs-donation-form-images" >
                                <img src="imagenes/portadas/WEB_FotoDonación.png" class="img-responsive" alt="Family Images"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="xs-donation-form-wraper" >
                                <div class="xs-heading xs-mb-30">
                                    <h2 class="xs-title" style="font-family: 'Marvel', sans-serif; font-weight: bold; text-align: center">Haz una donación</h2>
                                    <p class="small" style="font-family:'mergelight';font-style: normal;font-weight: normal;">
                                        Para obtener más información sobre cómo donarnos, visite nuestro sitio <span class="color-green"><a href="contact.xhtml"><b>Contáctenos</b></a></span>.</p>
                                </div><!-- .xs-heading end -->
                                <form action="#" method="POST" id="xs-donation-form" class="xs-donation-form" >
                                    <div class="xs-input-group">
                                        <label for="xs-donate-name">Nombre<span class="color-light-red">**</span></label>
                                        <input type="text" class="form-control" style="width: 100%" placeholder="Ingrese su nombre"/>
                                    </div><!-- .xs-input-group END -->
                                    <div class="xs-input-group">
                                        <label for="xs-donate-name">Teléfono<span class="color-light-red">**</span></label>
                                        <input type="tel" name="name" style="width: 100%" class="form-control" placeholder="Teléfono"/>
                                    </div><!-- .xs-input-group END -->
                                    <div class="xs-input-group">
                                        <label for="xs-donate-name">Monto de donación<span class="color-light-red">**</span></label>
                                        <input type="number" class="form-control" style="width: 100%" placeholder="Mínimo $5000"/>
                                    </div><!-- .xs-input-group END -->

                                    <!--<button type="submit" class="btn btn-warning"><span class="badge"><i class="fa fa-heart"></i></span> Donate now</button>-->

                                </form><!-- .xs-donation-form #xs-donation-form END -->
                                <div>
                                    <form style="padding-left: 35%;width: 130px" id="frm_ePaycoCheckoutOpen" name="frm_ePaycoCheckoutOpen" method="post" action="https://secure.payco.co/checkoutopen.php"> 
                                        <input name="p_cust_id_cliente" type="hidden" value="21121"/>
                                        <input name="p_key" type="hidden" value="999070d1b397596f54658bf90ad3849771be4b7c"/>
                                        <input name="p_id_factura" type="hidden" value=""/>
                                        <input name="p_description" type="hidden" value="Se reciben donaciones de caridad"/>
                                        <input name="p_test_request" type="hidden" value="FALSE"/>
                                        <input name="p_url_respuesta" type="hidden" value="http://www.fundegirc.org/contact.xhtml"/> 
                                        <input name="p_url_confirmacion" type="hidden" value="http://www.fundegirc.org/donate-now.xhtml" /> 
                                        <!--<input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/boton_carro_de_compras_epayco6.png" />-->
                                        <input type="image" id="imagen" src="imagenes/WEB_BotónDonación.png" style="width: 154px; height: 44px"/>
                                        <input type="hidden" id="idboton" name="idboton" value="5290" />  
                                    </form>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </section>	<!-- End donation form section -->

            <section>
                <div class="container">
                    <div class="xs-heading row xs-mb-60">
                        <div class="col-md-12 col-xl-12 text-center">
                            <h2 class="xs-title" style="font-family: 'Marvel', sans-serif; font-weight: bold; text-align: center">-Donaciones Vía Banco-</h2>
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center">Puedes donar desde tú banco con los siguientes datos:</p>
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center"><b>Beneficiario:</b> Fundegirc</p>
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center"><b>Banco:</b> Banco de Bogotá</p>
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center"><b>Tipo de Cuenta:</b> Cuenta de Ahorros</p>
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center"><b>Número de Cuenta:</b> 070140322</p>
                            <!--<span class="xs-separetor v2"></span>-->
                            <p style="font-family:'mergelight';font-style: normal;font-weight: normal; text-align: center">Por favor envía la copia de la consignación a nuestro correo electrónico:
                                <a href="mailto:gerencia@fundegirc.org" class="xs-top-bar-mail">gerencia@fundegirc.org</a>
                            </p>
                        </div><!-- .xs-heading-title END -->
                    </div><!-- .row end -->
                </div>
            </section>
        </main>



        <!-- footer section start -->
        <footer class="xs-footer-section">
            <div class="container col-lg-11 col-md-11" style="">
                <div class="xs-footer-top-layer" style="padding-top: 40px;padding-bottom: 10px">
                    <div class="row" style="padding-left: 0px">
                        <div class="col-lg-auto col-md-6 footer-widget xs-pr-20">
                            <a href="index.xhtml" class="xs-footer-logo">
                                <img src="imagenes/WEB_Logo_PáginaWeb.png" alt=""/>
                            </a>
                            <p style="width: 194px;font-family:'mergelight';font-style: normal;font-weight: normal;text-align: justify"><b>FUNDEGIRC</b> recauda dinero para reducir la vulnerabilidad y fortalecer las capacidades comunitarias.</p>
                            <ul class="xs-social-list-v2">
                                <li><a href="https://www.facebook.com/Fundegirc/" class="color-facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/FUNDEGIRC1?s=17" class="color-twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/fundegirc/?hl=es-la" class="color-instagram"><i class="fa fa-instagram"></i></a></li>
                            </ul><!-- .xs-social-list END -->
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="">
                            <h3 class="widget-title">Mapa del sitio</h3>
                            <ul class="xs-footer-list">
                                <li><a href="index.xhtml">Inicio</a></li>
                                <li><a href="about.xhtml">Nosotros</a></li>
                                <li><a href="empresas.xhtml">Empresas</a></li>
                                <li><a class="dropdown" href="#">Donaciones</a></li>
                                <li><a href="volunteer.xhtml">Donar Tiempo</a></li>
                                <li><a href="donate-now.xhtml">Donar Dinero</a></li>
                                <li><a href="allestrategicas.xhtml">Estrategias</a></li>
                                <li><a href="convocatorias.xhtml">Convocatorias</a></li>
                                <li><a href="contact.xhtml">Contacto</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 280px">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFundegirc%2F&amp;tabs=timeline&amp;width=250&amp;height=380&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="280" height="380" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 280px">
                            <!--<a class="twitter-timeline" data-width="359" data-theme="light" href="https://twitter.com/FUNDEGIRC1?ref_src=twsrc%5Etfw">Tweets by FUNDEGIRC1</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                            <a class="twitter-timeline" data-width="280" data-height="380" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/FUNDEGIRC1?ref_src=twsrc%5Etfw">Tweets by FUNDEGIRC</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div class="col-lg-auto col-md-6 footer-widget" style="width: 270px; padding-right: 0px">
                            <h3 class="widget-title">Contáctenos</h3>
                            <ul class="xs-info-list">
                                <li><i class="fa fa-home bg-red"></i>Por definir.</li><br/>
                                <li><i class="fa fa-phone bg-green"></i>(+57) 300 4938984</li>
                                <li><i class="fa fa-envelope-o bg-blue"></i><a href="mailto:gerencia@fundegirc.org">gerencia@fundegirc.org</a></li>
                            </ul><!-- .xs-list-with-icon END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="xs-back-to-top-wraper">
                <a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
            </div>
        </footer>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/jquery.countdown.min.js"></script>
        <script src="assets/js/spectragram.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
